<div class="fluid-container feeding-india">
  <div class="row g-0 py-5">
    <div class="col-12 d-flex">
      <div class="d-none d-md-block  col-md-3">
        <img class="fi-top-images" src="{{ section.settings.left-image | image_url: width: 240, height: 240 }}">
      </div>
      <div class="text-center col-10 col-md-6 m-auto">
        <h2 class="fi-main-heading  p-2 mb-4">
          {{ section.settings.heading }}
        </h2>
        <p class="fi-content">{{ section.settings.content }}</p>
      </div>
      <div class="d-none d-md-block col-md-3">
        <img class="float-end" src="{{ section.settings.right-image | image_url: width: 240, height: 240 }}">
      </div>
    </div>
    <div class="col-12">
      {% render 'image', class: 'media media--16-9', mobileSrc: section.settings.mobile-image, desktopSrc: section.settings.desktop-image %}
    </div>

  </div>
</div>

<style>
  .feeding-india .media > img {
    object-fit: contain;
  }
  .fi-main-heading {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    color: #181818;
    background-color: #E3F1D0;
  }
  .fi-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #393939;
  }
  .fi-top-images {}
</style>

{% schema %}
  {
    "name": "Feeding India",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "VEGAN WAY X Feeding India"
      },
      {
        "type": "text",
        "id": "content",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "left-image",
        "label": "Top Left Image"
      },
      {
        "type": "image_picker",
        "id": "right-image",
        "label": "Top Right Image"
      }, {
        "type": "image_picker",
        "id": "desktop-image",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "mobile-image",
        "label": "Mobile Image"
      }
    ],
    "presets": [
      {
        "name": "Feeding India"
      }
    ]
  }
{% endschema %}