.wct__product-img img {
    width: 32.74px;
    height: 53.77px;
  }
  .wct__customer-name {
    font-family: 'Sharp Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 9.5493px;
    line-height: 17px;
    letter-spacing: -0.03em;
    color: #2B2B2B;
  }
  .wct__customer-review {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.03em;
    color: #2B2B2B;
  }